app-member-form-profile{
    color: #777777 !important;
    .col-form-profile{
        text-align: left;
    }
    .form-categ{
        font-size: 24px;
    }
    label{
        font-size:14px;
    }
    button {
        &.revert, &.submit {
            font-weight: bold;
            font-size: 12px;
            line-height: 28px;
            text-transform: uppercase;
            padding: 0 15px;
            width: 130px;
        }
        &.revert{
            margin-right: 5px;
        }
    }
    form{
        .form-group{
            &>div{
                text-align: left;
            }
        }
        .radio-group{
            @include flex();
            @include justify-content(space-between);
            p{
                color: red;
                font-size: 12px;
            }
        }
        mat-radio-group {
            .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
                border-color: red;
            }
            .mat-radio-button.mat-accent .mat-radio-inner-circle{
                background-color: red;
            }
        }
        mat-checkbox{
            .mat-checkbox-label{
                white-space: pre-line;
            }
        }
        .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
            background-color: gray !important;
        }
        mat-form-field{
            width: 100% !important;
            .mat-input-flex{
                background-color: white;
            }
            .mat-form-field-infix{
                border-top: none;
                input{
                    padding: 0 10px;
                    &:-webkit-autofill {
                        -webkit-box-shadow: 0 0 0 30px white inset;
                    }
                }
            }
            .mat-form-field-underline {
                background-color: transparent;
            }
            .mat-form-field-ripple{
                background-color: red;
            }
            &.ng-valid{
                .mat-form-field-underline {
                    background-color: green;
                }
            }
            &.pseudo, &.email, &.password{
                .mat-form-field-infix {
                    &:before {
                        content: '';
                        display: block;
                        border-left: 2px solid red;
                        top: 0;
                        position: absolute;
                        left: -20px;
                        width: 2px;
                        height: 32px;
                    }
                }
            }
        }
    }
}
