app-member-form-profile{
    color: #777777 !important;
    .col-form-profile{
        text-align: left;
    }
    .form-categ{
        font-size: 24px;
    }
    label{
        font-size:14px;
    }
    button {
        &.revert, &.submit {
            font-weight: bold;
            font-size: 12px;
            line-height: 28px;
            text-transform: uppercase;
            padding: 0 15px;
            width: 130px;
            text-align: center;
        }
        &.revert{
            margin-right: 5px;
        }
    }
    form{
        margin-bottom: 50px;
        @media screen and (max-width: 1200px) {
            .row{
                & > div:first-child{
                    order: 2;
                }
                & > div:last-child{
                    order: 1;
                }
            }
        }
        .form-group{
            &>div{
                text-align: left;
                &.form-actions {
                    text-align: center;
                }
            }
        }
        .radio-group{
            @include flex();
            @include justify-content(space-between);
            p{
                color: red;
                font-size: 12px;
            }
        }
        .email-group, .password-group{
            i{
                position: absolute;
                top: 7px;
                right: -5px;
                &.fa-check{
                    color: green;
                }
            }
        }
        .upload-profile-pic{
            margin-top: 40px;
            flex-direction: column;
            width: 130px;
            margin-left: calc(100% - 150px);
            .profile-pic {
                width: 130px;
                height: 130px;
                object-fit: cover;
            }
            i{
                &.fa-trash-alt{
                    position: absolute;
                    top: 185px;
                    right: 45px;
                    cursor: pointer;
                    color: white;
                    @media screen and (max-width: 1200px) {
                        right: calc(50% - 57px);
                    }
                }
                &.fa-info-circle{
                    position: absolute;
                    top: 228px;
                    right: 12px;
                    @media screen and (max-width: 1200px) {
                        right: calc(50% - 90px);
                    }
                }
            }
            .inputfile{
                margin-top: 10px;
                border-color: white;
                background-color: white;
                &:hover{
                    background-color: gray;
                    color: white;
                }
            }
            @media screen and (max-width: 1200px) {
                margin: 40px auto;
            }
        }

        mat-radio-group {
            .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
                border-color: red;
            }
            .mat-radio-button.mat-accent .mat-radio-inner-circle{
                background-color: red;
            }
        }
        mat-checkbox{
            .mat-checkbox-label{
                white-space: pre-line;
            }
        }
        .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
            background-color: gray !important;
        }

        mat-chip-list{
            .mat-chip-list-wrapper{
                mat-chip{
                    margin: 0 4px 4px 4px !important;
                }
            }
        }

        mat-form-field{
            width: 100% !important;
            .mat-input-flex{
                background-color: white;
            }
            .mat-form-field-infix{
                border-top: none;
                input, textarea{
                    padding: 0 10px;
                    &:-webkit-autofill {
                        -webkit-box-shadow: 0 0 0 30px white inset;
                    }
                }
            }
            .mat-form-field-underline {
                background-color: transparent;
            }
            .mat-form-field-ripple{
                background-color: red;
            }
            &.ng-valid{
                .mat-form-field-underline {
                    background-color: green;
                }
            }
            &.pseudo, &.email, &.password{
                .mat-form-field-infix {
                    &:before {
                        content: '';
                        display: block;
                        border-left: 2px solid red;
                        top: 0;
                        position: absolute;
                        left: -10px;
                        width: 2px;
                        height: 32px;
                    }
                }
            }
        }
    }
}
