/* === BOOTSTRAP === */
@import "../../node_modules/bootstrap/scss/bootstrap";

/* === COMMONS === */
@import 'commons/common';

/* === COMPONENTS === */
@import "../app/app.component";
@import "../app/front/home/home.component";
@import "../app/front/header/header.component";
@import "../app/front/menu/menu.component";
@import "../app/front/site-card/site-card.component";
@import "../app/front/member-profile/member-profile.component";
@import "../app/front/member-form-profile/member-form-profile.component";
@import "../app/front/agency-profile/agency-profile.component";
@import "../app/front/client-profile/client-profile.component";
@import "../app/front/search/search.component";
@import "../app/front/slider/slider.component";
@import "../app/front/website/website.component";
@import "../app/front/footer/footer.component";
