/* === BOOTSTRAP === */
@import "../../node_modules/bootstrap/scss/bootstrap";

/* === COMMONS === */
@import 'commons/common';

/* === COMPONENTS === */
@import "../app/app.component";
@import "../app/home/home.component";
@import "../app/menu/menu.component";
@import "../app/search/search.component";
@import "../app/slider/slider.component";
@import "../app/website/website.component";

