<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <app-menu></app-menu>
    <div class="navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link branding " href="/"><img src="assets/imgs/logo.svg" alt="Logo"/> <span class="branding-pipe-separator"> | </span>
            <span class="branding">{{'FRONT.HEADER.BRANDING' | translate}}</span></a>
        </li>
        <li class="nav-item">
          <app-search></app-search>
        </li>
        <li *ngIf="isConnected === false" class="nav-item user-actions">
          <i (click)="isClicked = !isClicked" class="far fa-user user-actions"></i>
          <div class="user-actions">
            <span (click)="openDialog('login')" [ngClass]="{'clicked': isClicked }" class="btn btn-main-gray connect"> {{'FRONT.HEADER.SIGN_IN' | translate}}</span>
            <span class="pipe-separator"> | </span>
            <span (click)="openDialog('registration')" [ngClass]="{'clicked': isClicked }"  class="btn btn-main-gray register">{{'FRONT.HEADER.SIGN_UP' | translate}}</span>
          </div>
        </li>
        <li *ngIf="isConnected === true" class="nav-item">
          <div class="dropdown">
            <button class="btn btn-main-gray" type="button" id="memberDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img *ngIf="userInfo.icon" class="radius" [src]="userInfo.icon">
              <i *ngIf="!userInfo.icon" class="far fa-user user-actions"></i>
              {{userInfo.firstName}} {{userInfo.lastName}} <i class="fas fa-angle-down"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="memberDropdown">
              <a class="dropdown-item" [routerLink]="['/profile']">{{'FRONT.HEADER.MEMBER_MENU.PROFILE' | translate}}</a>
              <a *ngIf="userInfo.roles[0] === 'ROLE_ADMIN'"  class="dropdown-item" [routerLink]="['/admin']" href="">Admin</a>
              <a (click)="Disconnection()" class="dropdown-item" href="#">{{'FRONT.HEADER.MEMBER_MENU.DISCONNECTION' | translate}}</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <button (click)="submitWebsite()" type="button" class="btn btn-main-red">{{'FRONT.HEADER.WEBSITE_SUBMIT' | translate}}</button>
        </li>
        <li class="nav-item lang-resp">
          <div class="dropdown">
            <button class="btn btn-main-gray" type="button" id="langDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              FR <i class="fas fa-angle-down"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="langDropdown">
              <a class="dropdown-item" href="#">EN</a>
              <a class="dropdown-item" href="#">IT</a>
              <a class="dropdown-item" href="#">SP</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>

