<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <app-menu></app-menu>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#"><img src="assets/imgs/logo.svg" alt="Logo"/> <span class="pipe-separator"> | </span>
            {{'FRONT.HEADER.BRANDING' | translate}} </a>
        </li>
        <li class="nav-item">
          <app-search></app-search>
        </li>
        <li *ngIf="isConnected === false" class="nav-item">
          <span (click)="openDialog('login')" class="btn btn-main-gray"><i class="far fa-user"></i> {{'FRONT.HEADER.SIGN_IN' | translate}}</span>
          <span class="pipe-separator"> | </span>
          <span (click)="openDialog('registration')"  class="btn btn-main-gray">{{'FRONT.HEADER.SIGN_UP' | translate}}</span>
        </li>
        <li *ngIf="isConnected === true" class="nav-item">
          <div class="dropdown">
            <button class="btn btn-main-gray" type="button" id="memberDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{userInfo.firstName}} {{userInfo.lastName}} <i class="fas fa-angle-down"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="memberDropdown">
              <a class="dropdown-item" href="#">test1</a>
              <a class="dropdown-item" href="#">tes2</a>
              <a (click)="Disconnection()" class="dropdown-item" href="#">{{'FRONT.HEADER.MEMBER_MENU.DISCONNECTION' | translate}}</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <button (click)="submitWebsite()" type="button" class="btn btn-main-red">{{'FRONT.HEADER.WEBSITE_SUBMIT' | translate}}</button>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <button class="btn btn-main-gray" type="button" id="langDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              FR <i class="fas fa-angle-down"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="langDropdown">
              <a class="dropdown-item" href="#">EN</a>
              <a class="dropdown-item" href="#">IT</a>
              <a class="dropdown-item" href="#">SP</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>

