app-search{
    mat-slide-toggle {
        transition: all 0.7s;
        display: none !important;
        &.show{
            padding: 0.5rem 1rem;
            display: inline-block !important;
        }
    }
    input{
        border: none;
        background: lightgray;
        border-radius: 25px;
        color: black;
        width:0;
        opacity: 0;
        transition: all 0.7s;
        outline: none;
        &.show{
            opacity: 1;
            width: 300px;
            padding: 10px;
            @media #{$small-screen} {
                width: 150px;
            }
        }
    }
    i{
        position: relative;
        line-height: 2 !important;
        left: 5px;
        font-size: 20px;
        color: gray;
        font-weight: normal;
    }
    .input-group{
        margin: 0 !important;
    }

    .filter-section{
        &.show {
            min-height: 80px;
            position: absolute;
            width: 100%;
            left: 0;
            top: 90px;
            z-index: 9999;
        }
        &:not(.show) {
            app-filter{
                display: none;
            }
        }
    }
}
