app-search{
    mat-slide-toggle {
        padding: 0.5rem 1rem;
    }
    input{
        border: none;
        background: lightgray;
        border-radius: 25px;
        color: black;
        padding: 10px;
        width: 350px;
    }
    i{
        padding: 10px;
        position: absolute;
        right: 0;
    }
    .input-group{
        margin: 0 !important;
    }
}
