app-search{
    mat-slide-toggle {
        transition: all 0.7s;
        display: none !important;
        &.active{
            padding: 0.5rem 1rem;
            display: inline-block !important;
        }
    }
    input{
        border: none;
        background: lightgray;
        border-radius: 25px;
        color: black;
        width:0;
        opacity: 0;
        transition: all 0.7s;
        outline: none;
        &.active{
            opacity: 1;
            width: 350px;
            padding: 10px;
        }
    }
    i{
        position: relative;
        line-height: 2 !important;
        left: 5px;
        font-size: 20px;
        color: gray;
        font-weight: normal;
    }
    .input-group{
        margin: 0 !important;
    }
}
