.btn{
    outline: none !important;
    &-main-red{
        background: transparent;
        border: 2px solid red;
        border-radius: 30px;
        color: #ec1c24;
        transition: all 0.4s;
        &:hover {
            background-color: red;
            color: white;
        }
    }
    &-main-gray {
        background: transparent;
        border: none;
        border-radius: 0;
        color: gray;
        &-border{
            border: 2px solid gray;
            border-radius: 30px;
            background-color: transparent;
            color: gray;
            transition: all 0.4s;
            &:hover{
                background-color: white;
                border-color: white;
            }
        }
    }
    &-main-red-full{
        background: red;
        border: 2px solid red;
        border-radius: 30px;
        color: white;
        transition: all 0.4s;
        &:hover{
            background-color: white;
            color: red;
        }
    }
    &-tags {
        border-radius: 100px;
        background-color: #cdcdcd;
        color: #666666;
        text-transform: uppercase;
        font-size: 15px;
        margin-bottom: 10px;
        margin-right: 5px;
        &:hover {
            background-color: white;
            transition: all 0.4s;
        }
    }
    &-profile-external{
        border-radius: 100px;
        border: 1px solid gray;
        background-color: #e2e2e2;
        color: grey;
        text-transform: uppercase;
        font-size: 15px;
        &:hover {
            background-color: grey;
            color: #e2e2e2;
            transition: all 0.4s;
        }
    }
    &:focus, &:hover:focus{
        outline: none !important;
    }
}
