.btn{
    &-main-red{
        background: transparent;
        border: 2px solid red;
        border-radius: 30px;
        color: red;
    }
    &-main-gray {
        background: transparent;
        border: none;
        border-radius: 30px;
        color: gray;
    }
    &-main-red-full{
      background: red;
      border: 2px solid red;
      border-radius: 30px;
      color: white;
  }
}
