/* Media queries */
$mobile: "screen and (max-width: 767px)";
$tablet-p: "screen and (max-width: 980px)";
$tablet-l: "screen and (max-width: 1024px)";
$smaller-screen: "screen and (max-width: 1290px)";
$small-screen: "screen and (max-width: 1400px)";
$medium-screen: "screen and (max-width: 1700px)";
$large-screen: "screen and (max-width: 1900px)";
$big-screen: "screen and (min-width: 1901px)";
