/* Font Family */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Open+Sans:300,400,700');
$mainfont: 'Montserrat', sans serif;
$secondaryfont: 'Monserrat, sans serif';


/* Font Size | 1rem = 16px (100%) */
$size8: 0.5rem; /* 50% (8px) */
$size10: 0.625rem;
$size11: 0.688rem;
$size12: 0.750rem; /* 75% (12px) */
$size13: 0.813rem;
$size14: 0.875rem;
$size15: 0.9375rem;
$size16: 1rem; /* 100% (16px)*/
$size18: 1.125rem;
$size20: 1.25rem;/* 125% (20px)*/
$size22: 1.375rem;
$size23: 1.438rem;
$size24: 1.5rem;/* 150% (24px)*/
$size26: 1.625rem;
$size27: 1.688rem;
$size28: 1.75rem; /* 175% (28px)*/
$size30: 1.875rem;
$size32: 2rem; /* 200% (32px)*/

