app-request-judge-form {
  color: #777777 !important;

  .margin {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .col-form-request-judge {
    text-align: left;
  }
  .form-categ {
    font-size: 24px;
    margin-top: 40px;
    .add-image{
      color: green;
      cursor: pointer;
    }
  }

  .round-color{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
  }

  label {
    font-size: 14px;
  }
  button {
    &.revert, &.submit {
      font-weight: bold;
      font-size: 12px;
      line-height: 28px;
      text-transform: uppercase;
      padding: 0 15px;
      width: 200px;
      text-align: center;
      margin: 5px;
    }
  }
  form {
    margin-bottom: 50px;
    @media screen and (max-width: 1200px) {
      .row {
        & > div:first-child {
          order: 2;
        }
        & > div:last-child {
          order: 1;
        }
      }
    }
    .form-group {
      & > div {
        &.row-submit {
          width: 100%;
          margin-top: 40px;
          text-align: center;
        }
        text-align: left;
        &.form-actions {
          text-align: center;
          @include flex();
          @include justify-content(center)
        }
      }
    }

    mat-form-field {
      width: 100% !important;
      .mat-input-flex {
        background-color: white;
      }
      .mat-form-field-infix {
        border-top: none;
        input, textarea {
          padding: 0 10px;
          &:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 30px white inset;
          }
        }
      }
      .mat-form-field-underline {
        background-color: transparent;
      }
      .mat-form-field-ripple {
        background-color: red;
      }
    }
  }
}
