<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="footer-title">
                    {{'FRONT.FOOTER.TITLE' | translate}}
                </div>
                <div class="footer-desc">
                    {{'FRONT.FOOTER.DESC' | translate}}
                </div>
                <div class="footer-rights">
                    {{'FRONT.FOOTER.RIGHTS' | translate}}
                </div>
            </div>
            <div class="vertical-menu">
                <a href="">{{'FRONT.FOOTER.LINKS.HOME' | translate}}</a>
                <a href="">{{'FRONT.FOOTER.LINKS.NOMINATE' | translate}}</a>
                <a href="">{{'FRONT.FOOTER.LINKS.AWARDS' | translate}}</a>
                <a href="">{{'FRONT.FOOTER.LINKS.ANNUAIRE' | translate}}</a>
                <a href="">{{'FRONT.FOOTER.LINKS.BLOG' | translate}}</a>
                <a href="">{{'FRONT.FOOTER.LINKS.OFFERS' | translate}}</a>
                <a href="">{{'FRONT.FOOTER.LINKS.SHOP' | translate}}</a>
                <a href="">{{'FRONT.FOOTER.LINKS.ABOUT' | translate}}</a>
                <a href="">{{'FRONT.FOOTER.LINKS.CONTACT' | translate}}</a>
            </div>
            <div class="col">
                <div class="footer-title">
                    Derniers sites soumis
                </div>
                <div class="sites">
                    <div class="RecentSite">
                        <div class="footer-greyText">
                            28/11/2017
                        </div>
                        <div class="footer-siteName">
                            Nom de site
                        </div>
                        <div class="footer-desc">
                            par Mentalworks |
                        </div>
                        <div class="footer-greyText">
                            France
                        </div>
                    </div>
                    <div class="RecentSite">
                        <div class="footer-greyText">
                            28/11/2017
                        </div>
                        <div class="footer-siteName">
                            Nom de site
                        </div>
                        <div class="footer-desc">
                            par Mentalworks |
                        </div>
                        <div class="footer-greyText">
                            France
                        </div>
                    </div>
                    <div class="RecentSite">
                        <div class="footer-greyText">
                            28/11/2017
                        </div>
                        <div class="footer-siteName">
                            Nom de site
                        </div>
                        <div class="footer-desc">
                            par Mentalworks |
                        </div>
                        <div class="footer-greyText">
                            France
                        </div>
                    </div>
                    <div class="RecentSite">
                        <div class="footer-greyText">
                            28/11/2017
                        </div>
                        <div class="footer-siteName">
                            Nom de site
                        </div>
                        <div class="footer-desc">
                            par Mentalworks |
                        </div>
                        <div class="footer-greyText">
                            France
                        </div>
                    </div>
                    <div class="RecentSite">
                        <div class="footer-greyText">
                            28/11/2017
                        </div>
                        <div class="footer-siteName">
                            Nom de site
                        </div>
                        <div class="footer-desc">
                            par Mentalworks |
                        </div>
                        <div class="footer-greyText">
                            France
                        </div>
                    </div>
                </div>
            </div>
            <div class="network-icons">
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-linkedin-in"></i></a>
                <a href=""><i class="fab fa-google-plus-g"></i></a>
            </div>
        </div>
    </div>
</footer>
