<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="footer-title">
          {{'FRONT.FOOTER.TITLE' | translate}}
        </div>
        <div class="footer-desc">
          {{'FRONT.FOOTER.DESC' | translate}}
        </div>
        <div class="footer-rights">
          {{'FRONT.FOOTER.RIGHTS' | translate}}
        </div>
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>
  </div>
</footer>
