<div class="dropdown">
  <button class="btn btn-main-gray" type="button" id="menuDropdown" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false"><i class="fas fa-bars"></i> {{"FRONT.HEADER.MENU.MENU" | translate}}
  </button>
  <div class="dropdown-menu" aria-labelledby="menuDropdown">
    <a class="dropdown-item" href="#">{{"FRONT.HEADER.MENU.FIRST" | translate}}</a>
    <a class="dropdown-item" href="#">{{"FRONT.HEADER.MENU.SECOND" | translate}}</a>
    <a class="dropdown-item" href="#">{{"FRONT.HEADER.MENU.THIRD" | translate}}</a>
    <a class="dropdown-item" href="#">{{"FRONT.HEADER.MENU.FOURTH" | translate}}</a>
    <a class="dropdown-item" href="#">{{"FRONT.HEADER.MENU.FIFTH" | translate}}</a>
    <a class="dropdown-item" href="#">{{"FRONT.HEADER.MENU.SIXTH" | translate}}</a>
    <a class="dropdown-item" href="#">{{"FRONT.HEADER.MENU.SEVENTH" | translate}}</a>
    <a class="dropdown-item" href="#">{{"FRONT.HEADER.MENU.EIGHTH" | translate}}</a>
  </div>
</div>
