<div class="dropdown">
  <button class="btn btn-main-gray" type="button" id="menuDropdown" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false"><i class="fas fa-bars"></i> {{"FRONT.HEADER.MENU.MENU" | translate}}
  </button>
  <div class="dropdown-menu" aria-labelledby="menuDropdown">
    <a class="dropdown-item" href="/">{{"FRONT.HEADER.MENU.LINKS.HOME" | translate}}</a>
    <a class="dropdown-item" href="#">{{"FRONT.HEADER.MENU.LINKS.NOMINATE" | translate}}</a>
    <a class="dropdown-item" [routerLink]="['/awards']">{{"FRONT.HEADER.MENU.LINKS.AWARDS" | translate}}</a>
    <a class="dropdown-item" [routerLink]="['/agencies']">{{"FRONT.HEADER.MENU.LINKS.AGENCIES" | translate}}</a>
    <a class="dropdown-item" [routerLink]="['/clients']">{{"FRONT.HEADER.MENU.LINKS.CLIENTS" | translate}}</a>
    <a class="dropdown-item" href="#">{{"FRONT.HEADER.MENU.LINKS.JURY" | translate}}</a>
    <a class="dropdown-item" href="#">{{"FRONT.HEADER.MENU.LINKS.BLOG" | translate}}</a>
    <a class="dropdown-item" href="#">{{"FRONT.HEADER.MENU.LINKS.OFFERS" | translate}}</a>
    <a class="dropdown-item" href="#">{{"FRONT.HEADER.MENU.LINKS.SHOP" | translate}}</a>
  </div>
</div>
