<div class="container-fluid">
    <img src="assets/imgs/victor.jpeg" class="rounded-circle agency-profile-image">
    <h1 class="agency-profile-name">MentalWorks</h1>
    <div class="agency-profile-text">
        <span class="agency-profile-categ">Agence digitale</span> | Indépendante | France
    </div>
    <div class="agency-profile-data">
        <i class="fas fa-eye"></i> 22
        <i class="fas fa-heart"></i> 40
        <i class="fas fa-star"></i> 40
        <i class="fas fa-arrow-circle-up"></i>{{'FRONT.AGENCY_PROFILE.GLOBAL_RANKING' | translate}}: 8.7
    </div>
    <div class="agency-profile-buttons">
        <button type="button" class="btn agency-profile-button">Site web</button>
        <button type="button" class="btn agency-profile-button"><i class="fas fa-share-alt"></i></button>
    </div>
    <div class="agency-profile-desc">
        <p>Mentalworks est une agence digitale technologique indépendante de taille humaine
            spécialisée dans la création de sites web et d’applications métiers/mobiles à forte valeur ajoutée.</p>
    </div>
    <div class="agency-profile-tags">
        <button type="button" class="btn agency-profile-button-tags">Primary</button>
        <button type="button" class="btn agency-profile-button-tags">Primary</button>
        <button type="button" class="btn agency-profile-button-tags">Primary</button>
        <button type="button" class="btn agency-profile-button-tags">Primary</button>
        <button type="button" class="btn agency-profile-button-tags">Primary</button>
        <button type="button" class="btn agency-profile-button-tags">Primary</button>
        <button type="button" class="btn agency-profile-button-tags">Primary</button>
        <button type="button" class="btn agency-profile-button-tags">Primary</button>
        <button type="button" class="btn agency-profile-button-tags">Primary</button>
    </div>
    <div class="row agency-profile-detail">
        <div class="col-sm">
            <div class="agency-profile-detail-title">{{'FRONT.AGENCY_PROFILE.COUNTRY' | translate}}</div>
            <div class="agency-profile-detail-content"><img src="assets/imgs/flags/fr-flag.png">| France</div>
        </div>
        <div class="col-sm">
            <div class="agency-profile-detail-title">{{'FRONT.AGENCY_PROFILE.CATEG' | translate}}</div>
            <div class="agency-profile-detail-content">Agence digitale</div>
        </div>
        <div class="col-sm">
            <div class="agency-profile-detail-title">{{'FRONT.AGENCY_PROFILE.STATUS' | translate}}</div>
            <div class="agency-profile-detail-content">Indépendante</div>
        </div>
        <div class="col-sm">
            <div class="agency-profile-detail-title">{{'FRONT.AGENCY_PROFILE.CREATEDATE' | translate}}</div>
            <div class="agency-profile-detail-content">2000</div>
        </div>
        <div class="col-sm">
            <div class="agency-profile-detail-title">{{'FRONT.AGENCY_PROFILE.REVENU' | translate}}</div>
            <div class="agency-profile-detail-content">1 à 2 M€</div>
        </div>
        <div class="col-sm">
            <div class="agency-profile-detail-title">{{'FRONT.AGENCY_PROFILE.EFFEC' | translate}}</div>
            <div class="agency-profile-detail-content">20</div>
        </div>
        <div class="col-sm">
            <div class="agency-profile-detail-title">{{'FRONT.AGENCY_PROFILE.AUTHORS' | translate}}</div>
            <div class="agency-profile-detail-content">5</div>
        </div>
    </div>
</div>
