<div class="container-fluid"  *ngIf="agency; else loading">
    <img src="assets/imgs/victor.jpeg" class="rounded-circle profile-image">
    <h1 class="profile-name">{{agency.name}}</h1>
    <div class="profile-text">
        <span class="profile-categ">Agence digitale</span> | Indépendante | {{agency.country}}
    </div>
    <div class="profile-data">
        <i class="fas fa-eye"></i> 22
        <i class="fas fa-heart"></i> 40
        <i class="fas fa-star"></i> 40
        <i class="fas fa-arrow-circle-up"></i>{{'FRONT.AGENCY_PROFILE.GLOBAL_RANKING' | translate}}: 8.7
    </div>
    <div class="profile-buttons">
        <button type="button" class="btn btn-profile-external" ><a [href]="agency.websiteUrl">Site web</a></button>
        <button type="button" class="btn btn-profile-external"><i class="fas fa-share-alt"></i></button>
    </div>
    <div class="profile-desc">
        <p>{{agency.description}}</p>
    </div>
    <div class="profile-tags">
        <button *ngFor="let tag of agency.tags" type="button" class="btn btn-tags">{{tag.libelle}}</button>
    </div>
    <div class="row profile-detail">
        <div class="col-sm">
            <div class="profile-detail-title">{{'FRONT.AGENCY_PROFILE.COUNTRY' | translate}}</div>
            <div class="profile-detail-content"><img src="assets/imgs/flags/fr-flag.png">| {{agency.country}}</div>
        </div>
        <div class="col-sm">
            <div class="profile-detail-title">{{'FRONT.AGENCY_PROFILE.CATEG' | translate}}</div>
            <div class="profile-detail-content">Agence digitale</div>
        </div>
        <div class="col-sm">
            <div class="profile-detail-title">{{'FRONT.AGENCY_PROFILE.STATUS' | translate}}</div>
            <div class="profile-detail-content">Indépendante</div>
        </div>
        <div class="col-sm">
            <div class="profile-detail-title">{{'FRONT.AGENCY_PROFILE.CREATEDATE' | translate}}</div>
            <div class="profile-detail-content">2000</div>
        </div>
        <div class="col-sm">
            <div class="profile-detail-title">{{'FRONT.AGENCY_PROFILE.REVENU' | translate}}</div>
            <div class="profile-detail-content">1 à 2 M€</div>
        </div>
        <div class="col-sm">
            <div class="profile-detail-title">{{'FRONT.AGENCY_PROFILE.EFFEC' | translate}}</div>
            <div class="profile-detail-content">20</div>
        </div>
        <div class="col-sm">
            <div class="profile-detail-title">{{'FRONT.AGENCY_PROFILE.AUTHORS' | translate}}</div>
            <div class="profile-detail-content">5</div>
        </div>
    </div>
</div>
<ng-template #loading><mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar></ng-template>
