app-admin{
    mat-sidenav {
        min-height: 100vh;
        width: 200px;
        background-color: #303030 !important;
        color: white !important;
        padding: 0 10px 25px 10px;
        overflow-y: hidden;
        &-content {
            padding: 25px 25px 0 25px !important;
            background-color: #e2e2e2 !important;
            min-height: 100vh;
            -ms-overflow-style: none; // IE 10+
            overflow: -moz-scrollbars-none; // Firefox
            &::-webkit-scrollbar {
                display: none; // Safari and Chrome
            }
            .admin{
                &-header {
                    margin: -25px -25px 25px -25px;
                    padding: 20px 25px;
                    background-color: white;
                    img {
                        width: 140px;
                        position: relative;
                        top: -6px;
                    }
                }
                &-connection {
                    position: absolute;
                    right: 50px;
                    top: 33px;
                }
            }
            mat-progress-bar{
                margin-top: -25px !important;
                margin-left: -25px !important;
                width: calc(100% + 50px) !important;
                @media screen and (max-width: 600px) {
                    margin-left: -16px !important;
                    width: calc(100% + 32px) !important;
                }
            }
        }
    }
}
