<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav  [opened]="screenWidth > 840" [mode]="(screenWidth > 840) ? 'side' : 'over'">
    <app-admin-menu></app-admin-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="admin-header">
      <i class="fas fa-bars openSidebarButton" (click)="sidenav.toggle()"></i>
      <a href="/"><img src="assets/imgs/logo.svg" alt="Logo"/></a>
      <div class="dropdown admin-connection">
        <button class="btn btn-main-gray" type="button" id="memberDropdown" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
         <img *ngIf="userInfo.icon" class="radius" [src]="userInfo.icon">
        <i *ngIf="!userInfo.icon" class="far fa-user user-actions"></i>
         {{userInfo.firstName}} {{userInfo.lastName}} <i class="fas fa-angle-down"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="memberDropdown">
          <a  class="dropdown-item" href="#" (click)="Disconnection()">Déconnexion</a>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

