<form [formGroup]="form.group" (submit)="commitProject()">
  <select *ngIf="member" class="form-control" #agencyClientSelect (change)="getTheSelectedValue(agencyClientSelect.value)">
    <option *ngFor="let agency of member.agencies" [value]="['agency', agency.id]">{{agency.name}}</option>
    <option *ngFor="let client of member.clients" [value]="['client', client.id]">{{client.name}}</option>
  </select>
  <input type="text" placeholder="Nom du projet" formControlName="projectName">
  <textarea placeholder="Description" formControlName="projectDescription"></textarea>
  <input type="date" placeholder="Publication date" formControlName="publicationDate">
  <textarea placeholder="Description notable" formControlName="noticableDescription"></textarea>
  <input type="text" placeholder="Secteur d'activité" #business_sector (change)="addTag(business_sector.value, 'business_sector')">
  <button>Soumettre le site</button>
</form>
