<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10,11]">
      <mat-card class="example-card">
        <div mat-card-image style="background-image: url(../../../assets/imgs/victor.jpg)"></div>
        <mat-card-content>
          <mat-card-title>Victor FishEye</mat-card-title>
          <p>Par Lucas | France</p>
          <p>22 mars 2018</p>
          <div class="mat-card-actions">
            <i class="fas fa-eye"></i> 22
            <i class="fas fa-heart"></i> 40
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
