<div class="container-fluid">
  <div class="row">
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" *ngFor="let project of projects">
      <mat-card class="example-card">
        <div mat-card-image style="background-image: url(assets/imgs/victor.jpeg)"></div>
        <mat-card-content>
          <mat-card-title>{{project.projectName}}</mat-card-title>
          <p>par <span class="mat-card-creator">Lucas</span>  | <span class="mat-card-country">France</span></p>
          <p class="mat-card-date">{{project.publicationDate | date}}</p>
          <div class="mat-card-actions">
            <i class="fas fa-eye"></i> 22
            <i class="fas fa-heart"></i> 40
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
