app-card-project-member{
  .container-fluid{
    max-width: 1700px;
    padding: 0;
    margin: 0 auto;
    @media #{$medium-screen} {
      padding: 0 60px;
    }
    & > p {
      font-size: 18px;
      color: black;
      text-align: center;
      font-weight: bold;
    }
  }
  .row{
    justify-content: center;
    padding:0;
    margin-top: 30px;
  }
  mat-card{
    margin-left: auto;
    margin-right: auto;
    max-width: 420px;
    margin-bottom: 50px;
    color: lightgray;
    font-family: $mainfont !important;
    transition: all 0.6s;
    &:hover {
      filter: alpha(opacity=30);
      opacity: 0.7;
      cursor: pointer;
    }
    &-content{
      height: 65px;
      font-size: 14px !important;
      @media #{$medium-screen} {
        font-size: 12px !important;
        width: 75%;
      }
    }
    &-title {
      font-size: 14px !important;
      margin-bottom: 10px;
      text-transform: uppercase;
      font-weight: bold !important;
      color:#666666;
      @media #{$medium-screen} {
        font-size: 12px !important;
        width: 75%;
        margin-bottom: 5px !important;
      }
    }
    p{
      margin-bottom: 0;
      line-height: 18px;
    }
    mat-spinner {
      margin: auto;
    }

  }
  .mat-card{
    &-image {
      max-width: 420px;
      min-height: 300px;
      max-height: 300px;
      background-size: cover;
      @media #{$mobile} {
        min-height: 200px;
      }
    }
    &-actions {
      position: absolute;
      right: 40px;
      bottom: 10px;
      color: #666666;
      margin-bottom: 10px;
      @media #{$medium-screen} {
        margin-bottom: 0;
        bottom: 0;
      }
      @media #{$mobile} {
        display: none;
      }
    }
    &-creator{
      color: #999999;
      font-weight: bold;
    }
    &-date {
      color: #666666;
    }

  }
  .awards-medals-list{
    position: absolute;
    bottom: 65px;
    right: 10px;
    @include flex(row);
    .is-awarded {
      font-size: 27px;
      line-height: 50px;
      text-align: center;
      width: 25px;
      margin-bottom: 15px;
      height: 25px;
      img {
        width: 25px;
        margin-bottom: 6px;
      }
    }
  }
}
