<div class="container-fluid" *ngIf="member; else loading">
  <img *ngIf="member.profilePicture; else noProfilePic" [src]="member.profilePicture.path |liip:'profile_pic'"
       class="rounded-circle profile-image">
  <ng-template #noProfilePic>
    <img src="assets/imgs/user_placeholder.png" class="rounded-circle profile-image">
  </ng-template>
  <h1 class="profile-name">{{member.firstName}} {{member.lastName}}</h1>
  <div class="profile-text">
    <span class="profile-categ">{{'FRONT.MEMBER_PROFILE.MEMBER' | translate}}</span> | {{member.function}} | {{member.country}}
  </div>
  <div class="profile-buttons">
    <button type="button" class="btn btn-profile-external"><a [href]="member.websiteUrl" target="_blank">{{'FRONT.MEMBER_PROFILE.MAIN.MYSITE_BUTTON'    | translate}}</a></button>
    <button type="button" class="btn btn-profile-external"><i class="fas fa-share-alt"></i></button>
  </div>
  <div class="profile-desc">
    <p>{{member.presentation}}</p>
  </div>
  <div class="profile-tags">
    <button *ngFor="let tag of member.tags" type="button" class="btn btn-tags">{{tag.libelle}}</button>
  </div>
  <mat-tab-group>
    <mat-tab [label]="'FRONT.MEMBER_PROFILE.TABS.PROFILE' | translate"><app-member-form-profile [member]="member"></app-member-form-profile></mat-tab>
    <mat-tab [label]="'FRONT.MEMBER_PROFILE.TABS.LIKED_PROJECT' | translate">
      <app-site-card [idMember]="member.id"></app-site-card>
    </mat-tab>
    <mat-tab [label]="'FRONT.MEMBER_PROFILE.TABS.MARKED_PROJECT' | translate">
      <app-site-card [projectRatingMemberId]="member.id"></app-site-card>
    </mat-tab>
    <mat-tab [label]="'FRONT.MEMBER_PROFILE.TABS.ADMINED_CLIENT' | translate">
      <div *ngFor=" let client of member.clients">
        <a [routerLink]="['/client/', client.id]">{{client.name}}</a>
      </div>
    </mat-tab>
    <mat-tab [label]="'FRONT.MEMBER_PROFILE.TABS.ADMINED_AGENCY' | translate">
      <div *ngFor=" let agency of member.agencies">
        <a [routerLink]="['/agency/', agency.id]">{{agency.name}}</a>
      </div>
    </mat-tab>
    <mat-tab [label]="'FRONT.MEMBER_PROFILE.TABS.AWARD' | translate">
      <!--<div *ngFor="let project of projectsGotAward, let i = index">-->
        <!--<span *ngIf="i % 2 === 0; else award">-->
          <!--{{project}}-->
        <!--</span>-->
        <!--<ng-template #award>-->
          <!--<ul *ngFor="let award of project">-->
            <!--<li>{{award.date | date}}</li>-->
            <!--<li>{{award.type}}</li>-->
            <!--<li>{{award.category.libelle}}</li>-->
          <!--</ul>-->
        <!--</ng-template>-->
      <!--</div>-->
      <app-member-award-project-table></app-member-award-project-table>
    </mat-tab>
  </mat-tab-group>
</div>
<ng-template #loading><mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar></ng-template>
