<div class="container-fluid">
  <img src="assets/imgs/victor.jpeg" class="rounded-circle agency-profile-image">
  <h1 class="agency-profile-name">Gueudet</h1>
  <div class="agency-profile-text">
    <span class="agency-profile-categ">Grande entreprise</span> | Automobile | France
  </div>
  <div class="agency-profile-data">
    <i class="fas fa-eye"></i> 22
    <i class="fas fa-heart"></i> 40
    <i class="fas fa-star"></i> 40
    <i class="fas fa-arrow-circle-up"></i>{{'FRONT.CLIENT_PROFILE.GLOBAL_RANKING' | translate}}: 8.7
  </div>
  <div class="agency-profile-buttons">
    <button type="button" class="btn agency-profile-button">Site web</button>
    <button type="button" class="btn agency-profile-button"><i class="fas fa-share-alt"></i></button>
  </div>
  <div class="agency-profile-desc">
    <p>Le groupe Gueudet est le 2e distributeur automobile en France avec un CA de 1,1M€, 9 marques et 158 concessions
      situées principalement dans le nord de la France.</p>
  </div>
  <div class="agency-profile-tags">
    <button type="button" class="btn agency-profile-button-tags">Primary</button>
    <button type="button" class="btn agency-profile-button-tags">Primary</button>
    <button type="button" class="btn agency-profile-button-tags">Primary</button>
    <button type="button" class="btn agency-profile-button-tags">Primary</button>
    <button type="button" class="btn agency-profile-button-tags">Primary</button>
    <button type="button" class="btn agency-profile-button-tags">Primary</button>
    <button type="button" class="btn agency-profile-button-tags">Primary</button>
    <button type="button" class="btn agency-profile-button-tags">Primary</button>
    <button type="button" class="btn agency-profile-button-tags">Primary</button>
  </div>
  <mat-tab-group>
    <mat-tab label="Tab 1">Content 1</mat-tab>
    <mat-tab label="Tab 2">Content 2</mat-tab>
  </mat-tab-group>
</div>
