<div class="container-fluid" *ngIf="member; else loading">
  <img *ngIf="member.profilePicture; else noProfilePic" [src]="member.profilePicture.path |liip:'profile_pic'"
       class="rounded-circle profile-image">
  <ng-template #noProfilePic>
    <img src="assets/imgs/user_placeholder.png" class="rounded-circle profile-image">
  </ng-template>
  <h1 class="profile-name">{{member.firstName}} {{member.lastName}}</h1>
  <div class="profile-text">
    <span class="profile-categ">{{'FRONT.MEMBER_PROFILE.MEMBER' | translate}}</span> | {{member.function}} | {{member.country}}
  </div>
  <div class="profile-buttons">
    <button type="button" class="btn btn-profile-external"><a [href]="member.websiteUrl" target="_blank">{{'FRONT.MEMBER_PROFILE.MAIN.MYSITE_BUTTON'    | translate}}</a></button>
    <button type="button" class="btn btn-profile-external"><i class="fas fa-share-alt"></i></button>
  </div>
  <div class="profile-desc">
    <p>{{member.presentation}}</p>
  </div>
  <div class="profile-tags">
    <button *ngFor="let tag of member.tags" type="button" class="btn btn-tags">{{tag.libelle}}</button>
  </div>
  <mat-tab-group>
    <mat-tab [label]="'FRONT.MEMBER_PROFILE.TABS.PROFILE' | translate"><app-member-form-profile [member]="member"></app-member-form-profile></mat-tab>
    <mat-tab [label]="'FRONT.MEMBER_PROFILE.TABS.LIKED_PROJECT' | translate">
      <app-site-card [idMember]="member.id"></app-site-card>
    </mat-tab>
    <mat-tab [label]="'FRONT.MEMBER_PROFILE.TABS.MARKED_PROJECT' | translate">
      <app-site-card [projectRatingMemberId]="member.id"></app-site-card>
    </mat-tab>
    <mat-tab [label]="'FRONT.MEMBER_PROFILE.TABS.ADMINED_CLIENT' | translate">
      <app-client-card [clients]="member.clients"></app-client-card>
    </mat-tab>
    <mat-tab [label]="'FRONT.MEMBER_PROFILE.TABS.ADMINED_AGENCY' | translate">
      <app-client-card [clients]="member.agencies"></app-client-card>
    </mat-tab>
    <mat-tab [label]="'FRONT.MEMBER_PROFILE.TABS.AWARD' | translate">
      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
      <div class="container table-container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource">

          <!-- Position Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Projet</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef> Type</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.type}}</mat-cell>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="libelle">
            <mat-header-cell *matHeaderCellDef> Award</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.libelle}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef> Date</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.date |date}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>

    </mat-tab>
  </mat-tab-group>
</div>
<ng-template #loading><mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar></ng-template>
