
<div class="container-fluid admin-dashboard">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <p>
        dernier projets soumis + see more
      </p>
    </div>
    <div class="col-md-6 col-sm-12">
      <p>
        derniers award obtenu + see more
      </p>
    </div>
    <div class="col-md-6 col-sm-12">
      <p>
        Derniere demande de jury + see more
      </p>
    </div>
    <div class="col-md-6 col-sm-12">
      <p> derniere inscription</p>
    </div>
  </div>
</div>

