<!-- ToDo: MatTable : Project récemment ajouté (Order By Date desc) -->
<!-- ToDo: MatTable : Award récemment attribué (Order By Date desc) -->
<!-- ToDo: MatTable : Derniers membres créé (Order By Date desc) -->
<div class="container-fluid admin-dashboard">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <app-card-recent-project></app-card-recent-project>
    </div>
    <div class="col-md-6 col-sm-12">
      <app-card-recent-award></app-card-recent-award>
    </div>
    <div class="col-md-6 col-sm-12">
      <app-card-recent-submission></app-card-recent-submission>
    </div>
  </div>
</div>

