<h1 mat-dialog-title>{{ 'FRONT.HEADER.SIGN_UP' | translate }}</h1>
<div mat-dialog-content>
  <form  (submit)="onSubmit()" [formGroup]="registrationForm">
    <div class="margin-top">
      <label>{{"FRONT.DIALOG.FIRST_NAME" | translate}}:</label>
      <input name="fisrtName" formControlName="fisrtName">
    </div>
    <div class="margin-top">
      <label>{{"FRONT.DIALOG.NAME" | translate}}:</label>
      <input name="name" formControlName="name">
    </div>
    <div class="margin-top">
      <label>{{"FRONT.DIALOG.MAIL" | translate}}:</label>
      <input name="mail" formControlName="mail">
    </div>
    <div class="margin-top">
      <label>{{"FRONT.DIALOG.PASSWORD" | translate}}:</label>
      <input name="password" formControlName="password">
    </div>
    <button type="submit" class="btn btn-main-red-full">{{"FRONT.DIALOG.TO_LOG_IN" | translate}}</button>
  </form>
  <span>{{"FRONT.DIALOG.Already_Registered" | translate}}<a href="#">{{"FRONT.DIALOG.LOG_IN" | translate}}</a></span>
</div>


