<div class="container-fluid" *ngIf="agencies; else loading">
  <div class="row">
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" *ngFor="let agency of agencies">
      <mat-card class="example-card" [routerLink]="['/agency/', agency.id]">

        <div *ngIf="agency.image; else noThumbail">
          <div mat-card-image *ngIf="agency.image.path | liip:'card_thumbnail' as cardImage"
               [style.background-image]="'url('+cardImage+')'">
          </div>
        </div>
        <ng-template #noThumbail>
          <div mat-card-image [style.background-image]="'url(http://via.placeholder.com/415x300)'"></div>
        </ng-template>
        <mat-card-content>
          <mat-card-title>{{agency.name}}</mat-card-title>
          <p>
            <span class="mat-card-creator">{{agency.description.slice(0, 50)}}[...]</span>
          </p>
          <p class="mat-card-date">{{agency.creationDate | date}}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row paginator" *ngIf="agencies.length >= 12">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li>Agences : {{agencies.length}} | Page : {{pageNumber}}/{{agencies.pagination.last}}</li>
        <li *ngIf="pageNumber !== 1" class="page-item" (click)="pagination(-1)">
          <a class="page-link" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item" (click)="pagination(1)" *ngIf="pageNumber != agencies.pagination.last">
          <a class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<ng-template #loading>
  <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
</ng-template>
