app-table-members {
    .container-fluid {
        .row {
            overflow-x: auto;
            table {
                @media #{$mobile} {
                    font-size: 12px;
                }
                th {
                    vertical-align: middle;
                }
                tr {
                    background: white;
                    &:not(:last-child) {
                        border-bottom: 1px solid gray;
                    }
                }
                td {
                    vertical-align: middle;
                    &:not(#url) {
                        text-transform: capitalize;
                    }
                }
                .actions {
                    button {
                        width: 150px;
                        margin: 5px;
                        &.mat-primary {
                            background-color: forestgreen !important;
                        }
                    }
                }
            }
            &.paginator {
                & > nav {
                    width: 100%;
                    ul {
                        &.pagination {
                            float: right;
                            li:first-child {
                                line-height: 40px;
                                margin-right: 10px;
                            }

                        }
                    }
                }
            }
        }
    }
}
