<div class="container-fluid" *ngIf="members; else loading">
  <div class="row">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Prénom</th>
        <th scope="col">Nom</th>
        <th scope="col">Pays</th>
        <th scope="col">Site</th>
        <th scope="col">Juge</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let member of members">
        <td>{{member.firstName}}</td>
        <td>{{member.lastName}}</td>
        <td>{{member.country}}</td>
        <td *ngIf="member.websiteUrl">{{member.websiteUrl}}</td>
        <td *ngIf="!member.websiteUrl">/</td>
        <td *ngIf="member.isJudge">Oui</td>
        <td *ngIf="!member.isJudge">Non</td>
        <td class="actions">
          <button mat-raised-button color="warn" (click)="openDialog(member)">Supprimer</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row paginator" *ngIf="members.length >= 12 || pageNumber === members.pagination.last">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li>Membres : {{members.pagination.totalItems}} | Page : {{pageNumber}}/{{members.pagination.last}}</li>
        <li *ngIf="pageNumber !== 1" class="page-item" (click)="pagination(-1)">
          <a class="page-link" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item" (click)="pagination(1)" *ngIf="pageNumber != members.pagination.last">
          <a class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<ng-template #loading>
  <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
</ng-template>
