<div class="container-fluid" *ngIf="client; else loading">
  <img *ngIf="client.image; else noProfilePic" [src]="client.image.path |liip:'profile_pic'" class="rounded-circle profile-image">
  <ng-template #noProfilePic>
    <img src="assets/imgs/victor.jpeg" class="rounded-circle profile-image">
  </ng-template>
  <h1 class="profile-name">{{client.name}}</h1>
  <div class="profile-text">
    <span class="profile-categ">Grande entreprise</span> | Automobile | {{client.country}}
  </div>
  <div class="profile-data">
    <i class="fas fa-eye"></i> 22
    <i class="fas fa-heart"></i> 40
    <i class="fas fa-star"></i> 40
    <i class="fas fa-arrow-circle-up"></i>{{'FRONT.CLIENT_PROFILE.GLOBAL_RANKING' | translate}}: 8.7
  </div>
  <div class="profile-buttons">
    <button type="button" class="btn btn-profile-external"><a [href]="client.websiteUrl" target="_blank">Site web</a></button>
    <button type="button" class="btn btn-profile-external"><i class="fas fa-share-alt"></i></button>
    <button (click)="deleteClient(client)" type="button" class="btn btn-profile-external">Delete</button>
  </div>
  <div class="profile-desc">
    <p>{{client.description}}</p>
  </div>
  <div class="profile-tags">
    <button *ngFor="let tag of client.tags" type="button" class="btn btn-tags">{{tag.libelle}}</button>
  </div>
  <div class="row profile-detail">
    <div class="col-sm">
      <div class="profile-detail-title">{{'FRONT.CLIENT_PROFILE.COUNTRY' | translate}}</div>
      <div class="profile-detail-content"><img src="assets/imgs/flags/fr-flag.png">| {{client.country}}</div>
    </div>
    <div class="col-sm">
      <div class="profile-detail-title">{{'FRONT.CLIENT_PROFILE.CATEG' | translate}}</div>
      <div class="profile-detail-content">Grande entreprise</div>
    </div>
    <div class="col-sm">
      <div class="profile-detail-title">{{'FRONT.CLIENT_PROFILE.ACTIVITY_SECTOR' | translate}}</div>
      <div class="profile-detail-content">Automobile</div>
    </div>
    <div class="col-sm">
      <div class="profile-detail-title">{{'FRONT.CLIENT_PROFILE.CREATEDATE' | translate}}</div>
      <div class="profile-detail-content">{{client.creationDate | date}}</div>
    </div>
    <div class="col-sm">
      <div class="profile-detail-title">{{'FRONT.CLIENT_PROFILE.REVENU' | translate}}</div>
      <div class="profile-detail-content">1 à 2 M€</div>
    </div>
    <div class="col-sm">
      <div class="profile-detail-title">{{'FRONT.CLIENT_PROFILE.EFFEC' | translate}}</div>
      <div class="profile-detail-content">20</div>
    </div>
    <div class="col-sm">
      <div class="profile-detail-title">{{'FRONT.CLIENT_PROFILE.AUTHORS' | translate}}</div>
      <div class="profile-detail-content">5</div>
    </div>
  </div>
</div>
<P> {{nominatedSites}} {{'FRONT.PROFILE.NOMINATED_SITES' | translate}} | {{earnedAward}} {{'FRONT.PROFILE.EARNED_AWARD' | translate}}</P>
<app-site-card [nameClient]="client.name"></app-site-card>
<ng-template #loading><mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar></ng-template>
