app-client-profile{
  .container-fluid {
    text-align: center;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 25px;
    .rounded-circle {
      margin-top: 30px;
      max-height: 30vh;
    }
    .mat-card{
      margin:auto;
      &-content{
        text-align: left;
      }
    }
    .profile{
      &-nominated {
        text-transform: uppercase;
        text-align:center;
        &-bold {
          font-weight: bold;
        }
        &-standard{
          font-weight: normal;
        }
      }
      &-name {
        font-weight: 700;
      }
      &-categ {
        font-weight: bold;
        color: black;
      }
      &-text {
        color: grey;
        padding-bottom: 3vh;
      }
      &-data {
        color: grey;
        padding-bottom: 3vh;
        i {
          margin-right: 10px;
          margin-left: 10px;
          color: black;
        }
      }
      &-share {
        padding-bottom: 3vh;
        border: 1px solid gray;
        border-radius: 50%;
        color: gray;
        width: 30px;
        text-align: center;
      }
      &-buttons {
        padding-bottom: 3vh;
        a{
          color:inherit;
          text-decoration: none;
        }
      }
      &-desc {
        padding-bottom: 3vh;
        max-width: 800px;
        margin: auto;
        text-align: center;
        p {
          font-weight: 600;
        }
      }
      &-tags {
        padding-bottom: 3vh;
        max-width: 800px;
        margin: auto;

      }
      &-detail {
        padding-bottom: 3vh;
        background-color: white;
        min-width: 100%;
        &-title {
          font-weight: 700;
          padding-top: 2vh;
        }
        &-content {
          color: #666666;
          padding-top: 2vh;
          &-button {
            border-radius: 100px;
            border: 1px solid gray;
            background-color: #e2e2e2;
            color: grey;
            text-transform: uppercase;
            font-size: 15px;
            &:hover {
              background-color: grey;
              color: #e2e2e2;
              transition: all 0.4s;
            }
          }
        }
      }
    }
  }
}
