<div class="container-fluid">
  <img src="assets/imgs/victor.jpeg" class="rounded-circle agency-profile-image">
  <h1 class="agency-profile-name">Gueudet</h1>
  <div class="agency-profile-text">
    <span class="agency-profile-categ">Grande entreprise</span> | Automobile | France
  </div>
  <div class="agency-profile-data">
    <i class="fas fa-eye"></i> 22
    <i class="fas fa-heart"></i> 40
    <i class="fas fa-star"></i> 40
    <i class="fas fa-arrow-circle-up"></i>{{'FRONT.CLIENT_PROFILE.GLOBAL_RANKING' | translate}}: 8.7
  </div>
  <div class="agency-profile-buttons">
    <button type="button" class="btn agency-profile-button">Site web</button>
    <button type="button" class="btn agency-profile-button"><i class="fas fa-share-alt"></i></button>
  </div>
  <div class="agency-profile-desc">
    <p>Le groupe Gueudet est le 2e distributeur automobile en France avec un CA de 1,1M€, 9 marques et 158 concessions situées principalement dans le nord de la France.</p>
  </div>
  <div class="agency-profile-tags">
    <button type="button" class="btn agency-profile-button-tags">Primary</button>
    <button type="button" class="btn agency-profile-button-tags">Primary</button>
    <button type="button" class="btn agency-profile-button-tags">Primary</button>
    <button type="button" class="btn agency-profile-button-tags">Primary</button>
    <button type="button" class="btn agency-profile-button-tags">Primary</button>
    <button type="button" class="btn agency-profile-button-tags">Primary</button>
    <button type="button" class="btn agency-profile-button-tags">Primary</button>
    <button type="button" class="btn agency-profile-button-tags">Primary</button>
    <button type="button" class="btn agency-profile-button-tags">Primary</button>
  </div>
  <div class="row agency-profile-detail">
    <div class="col-sm">
      <div class="agency-profile-detail-title">{{'FRONT.CLIENT_PROFILE.COUNTRY' | translate}}</div>
      <div class="agency-profile-detail-content"><img src="assets/imgs/flags/fr-flag.png">| France</div>
    </div>
    <div class="col-sm">
      <div class="agency-profile-detail-title">{{'FRONT.CLIENT_PROFILE.CATEG' | translate}}</div>
      <div class="agency-profile-detail-content">Grande entreprise</div>
    </div>
    <div class="col-sm">
      <div class="agency-profile-detail-title">{{'FRONT.CLIENT_PROFILE.ACTIVITY_SECTOR' | translate}}</div>
      <div class="agency-profile-detail-content">Automobile</div>
    </div>
    <div class="col-sm">
      <div class="agency-profile-detail-title">{{'FRONT.CLIENT_PROFILE.CREATEDATE' | translate}}</div>
      <div class="agency-profile-detail-content">2000</div>
    </div>
    <div class="col-sm">
      <div class="agency-profile-detail-title">{{'FRONT.CLIENT_PROFILE.REVENU' | translate}}</div>
      <div class="agency-profile-detail-content">1 à 2 M€</div>
    </div>
    <div class="col-sm">
      <div class="agency-profile-detail-title">{{'FRONT.CLIENT_PROFILE.EFFEC' | translate}}</div>
      <div class="agency-profile-detail-content">20</div>
    </div>
    <div class="col-sm">
      <div class="agency-profile-detail-title">{{'FRONT.CLIENT_PROFILE.AUTHORS' | translate}}</div>
      <div class="agency-profile-detail-content">5</div>
    </div>
  </div>
</div>
