<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="container-carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item" *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10,11]" [ngClass]="{'active': number == 0}">
                <img class="d-block img-fluid" src="http://via.placeholder.com/1780x700" alt="First slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <i class="shareMenu fas fa-share-alt"></i>
        <div class="daily-site">
            <i class="far fa-star"></i>
            <span>{{'FRONT.SLIDER.SITE_OF_THE_DAY' | translate}}</span>
            <span class="date-slider">22 Mars 2018</span>
        </div>
    </div>
</div>
