app-slider{
  #carouselExampleIndicators{
    margin:0 auto;
    padding: 0;
    top: -75px;
    max-width: 1700px;
    @media #{$medium-screen} {
      padding: 0 60px;
    }
    @media #{$smaller-screen} {
      padding: 0;
    }
  }

  .carousel-indicators li {
    border-radius: 10px;
    margin: 1px 3px;
    height: 10px;
    max-width: 10px;
    border: 1px solid #FFF;
    background-color: transparent;
  }
  .carousel-indicators .active {
    background-color: #fff;
    max-width: 12px;
    margin: 0 3px;
    height: 12px;
  }
  .carousel{
    img {
      filter: brightness(30%);
      object-fit: cover;
    }
    &.slide {
      min-height: 600px;
    }
    .container-carousel, &-inner, &-item, .img-fluid {
      min-height: 600px;
    }
    position: relative;
    .shareMenu{
      position:absolute;
      top:15px;
      right:15px;
      padding:10px;
      border:1px solid gray;
      border-radius: 50%;
      color:gray;
      @media #{$medium-screen} {
        right: 85px;
      }
      @media #{$smaller-screen} {
        right: 15px;
      }
    }
    .button-slider{
      width:auto;
      position:absolute;
      background-color:transparent;
      border:1px solid white;
      border-radius:30px;
      margin:0;
      color:white;
    }
    .daily-date{
      position: absolute;
      top: 15px;
      left: 15px;
      font-weight:500;
      color:white;
      .date-slider{
        color: gray;
      }
    }
    .carousel-control-prev{
      @media #{$medium-screen} {
        left: 60px;
      }
      @media #{$smaller-screen} {
        left: 15px;
      }
    }
    .carousel-control-next {
      @media #{$medium-screen} {
        right: 60px;
      }
      @media #{$smaller-screen} {
        right: 15px;
      }
    }
  }
  .daily {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    &-site {
      color: gray;
      flex-direction: column;
      flex: 1 0 auto;
      display: flex;
      justify-content: flex-end;
      .bold {
        color: white;
        font-weight: bold;
      }
      &-name {
        color: white;
        font-weight: bold;
        font-size: 48px;
      }
      &-info{
        font-size: 18px;
      }
    }
    &-marks{
      flex-direction: row;
      display: flex;
      justify-content: center;
      flex: 1 0 auto;
      padding-top: 50px;
      &-circle{
        display: flex;
        flex-direction: column;
        &-type {
          color: gray;
          font-size: 14px;
          font-weight: bold;
          text-transform: capitalize;
        }
        &-mark{
          position: relative;
          top:-95px;
          color: white;
          font-size: 24px;
        }
      }
    }
    &-actions {
      flex: 0 1 auto;
      padding-bottom: 30px;
      display: flex;
      justify-content: center;
      button{
        margin: 0 5px;
      }
    }
  }
  @media #{$tablet-l}{
    .carousel{
      &.slide{
        height: 75vh;
        min-height: 600px;
        margin: 0 !important;
      }
      .container-carousel, &-inner, &-item, .img-fluid{
        height: 75vh;
        min-height: 600px;
      }
      .img-fluid{
        object-fit: cover;
      }
    }
  }
}
