app-project-form-vote {
    color: #777777 !important;

    .col-form-project {
        text-align: left;
    }
    .form-categ {
        font-size: 24px;
        margin-top: 40px;
    }

    .round-color {
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 20px;
    }

    label {
        font-size: 14px;
        @media #{$mobile} {
            margin-bottom: 10px !important;
        }
    }
    button {
        &.revert, &.submit {
            font-weight: bold;
            font-size: 12px;
            line-height: 28px;
            text-transform: uppercase;
            padding: 0 15px;
            width: 200px;
            text-align: center;
            margin: 5px;
        }
    }
    form {
        margin-bottom: 50px;
        @media screen and (max-width: 1200px) {
            .row {
                & > div:first-child {
                    order: 2;
                }
                & > div:last-child {
                    order: 1;
                }
            }
        }
        .form-group {
            & > div {
                &.row-submit {
                    width: 100%;
                    margin-top: 40px;
                    text-align: center;
                }
                text-align: left;
                @media #{$mobile} {
                    text-align: center;
                }
                &.form-actions {
                    text-align: center;
                }
            }
        }
    }
    mat-slider{
        min-width: 300px !important;
        transition: all 0.5s ease;
        @media #{$mobile} {
            min-width: 200px !important;
        }
        margin-bottom: 5px;
        &.originality{
            .mat-slider-track-fill, .mat-slider-thumb, .mat-slider-thumb-label {
                background-color: #ec1c24 !important;
            }
        }
        &.graphism{
            .mat-slider-track-fill, .mat-slider-thumb, .mat-slider-thumb-label {
                background-color: #ffa800 !important;
            }
        }
        &.navigation{
            .mat-slider-track-fill, .mat-slider-thumb, .mat-slider-thumb-label {
                background-color: #99cc33 !important;
            }
        }
        &.interactivity{
            .mat-slider-track-fill, .mat-slider-thumb, .mat-slider-thumb-label {
                background-color: #ff0099 !important;
            }
        }
        &.content-quality{
            .mat-slider-track-fill, .mat-slider-thumb, .mat-slider-thumb-label {
                background-color: #993399 !important;
            }
        }
        &.fonctionnality{
            .mat-slider-track-fill, .mat-slider-thumb, .mat-slider-thumb-label {
                background-color: #6699cc !important;
            }
        }
        &.reactivity{
            .mat-slider-track-fill, .mat-slider-thumb, .mat-slider-thumb-label {
                background-color: #009999 !important;
            }
        }
    }
}
