<div class="container">
  <div class="row">
    <div class="col-sm-12 col-form-project">
      <form autocomplete="off">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <p class="form-categ">{{'FRONT.FORM_PROJECT.TO_VOTE' | translate}}</p>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">{{'FRONT.PROJECT_PROFILE.MARKS.ORIGINALITY' | translate}} :</label>
              <div class="col-sm-8">
                <mat-slider
                        class="originality"
                        [value]="userOriginalityVote"
                        [disabled]="disabled"
                        [invert]="invert"
                        [max]="max"
                        [min]="min"
                        [step]="step"
                        [thumb-label]="thumbLabel"
                        [tick-interval]="tickInterval"
                        [vertical]="vertical">
                </mat-slider>
              </div>
              <label class="col-sm-4 col-form-label">{{'FRONT.PROJECT_PROFILE.MARKS.GRAPHISM' | translate}} :</label>
              <div class="col-sm-8">
                <mat-slider
                        class="graphism"
                        [value]="userGraphismVote"
                        [disabled]="disabled"
                        [invert]="invert"
                        [max]="max"
                        [min]="min"
                        [step]="step"
                        [thumb-label]="thumbLabel"
                        [tick-interval]="tickInterval"
                        [vertical]="vertical">
                </mat-slider>
              </div>
              <label class="col-sm-4 col-form-label">{{'FRONT.PROJECT_PROFILE.MARKS.ERGONOMY' | translate}} :</label>
              <div class="col-sm-8">
                <mat-slider
                        class="navigation"
                        [value]="userNavigationVote"
                        [disabled]="disabled"
                        [invert]="invert"
                        [max]="max"
                        [min]="min"
                        [step]="step"
                        [thumb-label]="thumbLabel"
                        [tick-interval]="tickInterval"
                        [vertical]="vertical">
                </mat-slider>
              </div>
              <label class="col-sm-4 col-form-label">{{'FRONT.PROJECT_PROFILE.MARKS.INTERACTIVITY' | translate}} :</label>
              <div class="col-sm-8">
                <mat-slider
                        class="interactivity"
                        [value]="userInteractivityVote"
                        [disabled]="disabled"
                        [invert]="invert"
                        [max]="max"
                        [min]="min"
                        [step]="step"
                        [thumb-label]="thumbLabel"
                        [tick-interval]="tickInterval"
                        [vertical]="vertical">
                </mat-slider>
              </div>
              <label class="col-sm-4 col-form-label">{{'FRONT.PROJECT_PROFILE.MARKS.QUALITY' | translate}} :</label>
              <div class="col-sm-8">
                <mat-slider
                        class="content-quality"
                        [value]="userContentQualityVote"
                        [disabled]="disabled"
                        [invert]="invert"
                        [max]="max"
                        [min]="min"
                        [step]="step"
                        [thumb-label]="thumbLabel"
                        [tick-interval]="tickInterval"
                        [vertical]="vertical">
                </mat-slider>
              </div>
              <label class="col-sm-4 col-form-label">{{'FRONT.PROJECT_PROFILE.MARKS.FONCTIONNALITY' | translate}} :</label>
              <div class="col-sm-8">
                <mat-slider
                        class="functionnality"
                        [value]="userFunctionnalityVote"
                        [disabled]="disabled"
                        [invert]="invert"
                        [max]="max"
                        [min]="min"
                        [step]="step"
                        [thumb-label]="thumbLabel"
                        [tick-interval]="tickInterval"
                        [vertical]="vertical">
                </mat-slider>
              </div>
              <label class="col-sm-4 col-form-label">{{'FRONT.PROJECT_PROFILE.MARKS.REACTIVITY' | translate}} :</label>
              <div class="col-sm-8">
                <mat-slider
                        class="reactivity"
                        [value]="userReactivityyVote"
                        [disabled]="disabled"
                        [invert]="invert"
                        [max]="max"
                        [min]="min"
                        [step]="step"
                        [thumb-label]="thumbLabel"
                        [tick-interval]="tickInterval"
                        [vertical]="vertical">
                </mat-slider>
              </div>
            </div>
            <div class="form-group row">
              <div class="row row-submit">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <div class="form-group row">
                    <div class="col-sm-12 form-actions">
                      <button type="submit" class="btn btn-main-red-full submit">
                        {{'FRONT.FORM_PROJECT.TO_VOTE' | translate}}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<ng-template #loading>
  <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
</ng-template>
